.topnav {
    background-color: #333;
    overflow: hidden;
}
#packageDrop{
    float: right;
}
/* Style the links inside the navigation bar */
.topnav a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(115, 79, 163);
    color: black;
}

