
 <div class = "packageForm">
     <h2>Create New Package<hr></h2>
    <form (ngSubmit) = "createPackage(packageForm)" #packageForm = "ngForm">

    <label>Package name</label>        <input  [(ngModel)] = "packageName"            type = "text" name = "packageName"><br>
    
    <label>Image Location</label>      <input  [(ngModel)] = "imagesLocation"          type = "text" name = "imagesLocation"><br>
    <label>Location</label>            <input  [(ngModel)] = "location"               type = "text" name = "location"><br>
    <label>No of Days</label>          <input  [(ngModel)] = "days"                   type = "number" name = "days"><br>
    <label>Price</label>               <input  [(ngModel)] = "price"                  type = "text" name = "price"><br>
    <label>Starting Date</label>       <input  [(ngModel)] = "startDate"              type = "date" name = "startDate"><br>
    <label>Ending Date</label>         <input  [(ngModel)] = "endDate"                type = "date" name = "endDate"><br><br>
    <label>Package Description</label><br>
    <textarea rows="4" cols="50" [(ngModel)] = "packageDescription"     type = "text" name = "packageDescription"></textarea><br>
    <input class = "submitButtonEM"type = "submit" value = "Create">
    </form>
</div> 

